.game-item {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: transform 0.2s ease-in-out;
  }
  
  .game-item img {
    width: 100px;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
  }
  
  .game-info {
    flex-grow: 1;
  }
  
  .game-item h3 {
    margin: 10px 0;
    font-size: 1.5rem;
  }
  
  .game-item .description {
    font-size: 1rem;
    color: #777;
    margin-bottom: 10px;
  }
  
  .game-item .price, .game-item .igdb-score {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
  }
  
  .game-item:hover {
    transform: scale(1.01);
  }
  