.filter {
  background-color: #fff;
  padding: 20px;
  margin-right: 20px;
  border-radius: 8px;
  width: 250px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.filter h2 {
  margin-bottom: 10px;
}

.filter label {
  display: block;
  margin-bottom: 8px;
}

.filter input[type="text"],
.filter input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.filter .filter-content {
  flex-grow: 1;
  overflow-y: auto;
}

.filter .sort-order,
.filter .sort-by {
  margin-bottom: 15px;
}

.filter .sort-order label,
.filter .sort-by label {
  display: block;
}

.filter .sort-order input[type="radio"],
.filter .sort-by input[type="radio"] {
  margin-right: 5px;
}

.filter p {
  font-size: 1.1rem;
  font-weight: bold;
}

.filter button {
  width: 100%;
  padding: 12px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.filter button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.filter button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.filter input[type="number"]:focus,
.filter input[type="text"]:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}
