.filter {
    background-color: #fff;
    padding: 20px;
    margin-right: 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .filter h2 {
    margin-bottom: 10px;
  }
  
  .filter label {
    display: block;
    margin-bottom: 8px;
  }
  
  .filter input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .filter p {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .filter button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filter button:hover {
    background-color: #0056b3;
  }
  
  .filter button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }

